.footer {
    background-color: #2D314D;
    padding-bottom: 48px;
}


.footer__title {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
}

.footer__title-left {
    display: flex;
}

.footer__easybank {
    padding-right: 132px;
}

.logo__img {    
    width: 139px;
    height: 20px;
}

.footer_list-1 {
    display: flex;
}

.footer_list-1-item {
    padding-top: 56px;
}

.footer_list-1-item + .footer_list-1-item {
    margin-left: 14px;
}

.item-link__social-networks {
    width: 20px;
    height: 20px;
}

.footer_list-2 {
    padding-right: 120px;
}


.list__item-link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #fff;
    padding-bottom: 8px;
}


.footer__title-right  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__invite-button {
    width: 163px;
    height: 44px;
}

.title-right__link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-top: 24px;
}



@media only screen and (max-width: 400px) {

    .footer {
        width: 100%;
        background-color: #2D314D;
        padding: 40px 0;
    }
    
    
    .footer__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 49px;
    }
    
    .footer__title-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer__easybank {
        padding-right: 0;
    }
    
    .logo__img {    
        width: 139px;
        height: 20px;
    }
    
    .footer_list-1 {
        display: flex;
        justify-content: space-around;
    }
    
    .footer_list-1-item {
        padding-top: 34px;
    }
    
    .footer_list-1-item + .footer_list-1-item {
        margin-left: 16px;
    }
    
    .item-link__social-networks {
        width: 20px;
        height: 20px;
    }
    
    .footer_list-2 {
        padding-right: 0;
        text-align: center;
    }

    .footer_list-3 {
        text-align: center;
        padding-bottom: 32px;
    }
    
    
    .list__item-link {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -0.234375px;
        color: #fff;
        padding-bottom: 8px;
    }
    
    
    .footer__title-right  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer__invite-button {
        width: 163px;
        height: 44px;
    }
    
    .title-right__link {
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -0.234375px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        padding-top: 24px;
    }










}
